@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  font-family: "Cinzel", serif;
<<<<<<< HEAD
  color: #5b0a0a;
=======
  
>>>>>>> recovery-branch
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
<<<<<<< HEAD
}

.side-bar {
  background-color: #b99730;
=======
  display: flex;
}

.side-bar {
  background-color: #4b3621;
  color: #fff5cc;
>>>>>>> recovery-branch
  height: 100vh;
  width: 24vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  height: 100vh;
  width: 100%;
<<<<<<< HEAD
}

.button{
  color: #d4af37;
  background-color: #5b0a0a;
  font-weight: bold;
  padding: 12px 24px;
  border: 2px solid #d4af37;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3 ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover{
  transform: translateX(5px);
  color: #fff5cc;
}
=======
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #d4af37;
  background-color: transparent;
  font-weight: bold;
  padding: 12px;
  border: solid 2px #d4af37;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3 ease;
}

.button:hover {
  transform: translateX(5px);
  color: #fff5cc;
}

nav {
  border-top: solid 2px #060606;
  padding: 12 px;
}

.history {
  height: 100%;
  padding: 10px;
  margin: 10px;

}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 10px 0;
}

.info {
  opacity: 0.9;
  font-size: small;
  color: #060606;
  padding: 10px;
}
.input-box {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  font-size: 20px;
}
input:focus {
  outline: none;
}
#submit {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 0;
  user-select: none;
}
>>>>>>> recovery-branch
